:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: rgba(240, 240, 240, 0.5) ;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.title {
    font-size: 14px;
    font-weight:bold;
}
.komen {
    font-size:14px;
}
.geser {
    margin-left:55px;
    margin-top:5px;
}
.notliked{
    display: block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg style='enable-background:new 0 0 48 48.00004;' version='1.1' viewBox='0 0 48 48.00004' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cstyle type='text/css'%3e .st0%7bdisplay:none;%7d .st1%7bfill:none;stroke:%23303030;stroke-width:0.7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7d .st2%7bfill:%23303030;%7d %3c/style%3e%3cg class='st0' id='Padding__x26__Artboard'/%3e%3cg id='Icons'%3e%3cg%3e%3cpath class='st1' d='M23.99294,15.87192l1.01585-0.88887c1.39679-1.22748,3.11808-1.83417,4.85349-1.83417 c2.03169,0,4.03517,0.83243,5.48839,2.45496c2.59605,2.93467,2.41263,7.35077-0.33862,10.0597l-9.82842,8.73568 c-0.67944,0.60256-1.70193,0.60256-2.38137,0l-9.81431-8.73568c-2.75125-2.69481-2.93467-7.12503-0.33862-10.0597 c1.45322-1.62253,3.4567-2.45496,5.48839-2.45496c1.7213,0,3.4567,0.60669,4.85349,1.83417L23.99294,15.87192'/%3e%3cpath class='st1' d='M13.97946,19.68624c0.10696-0.4492,0.2748-0.88792,0.50438-1.30326 c0.18132-0.32803,0.40115-0.64148,0.6599-0.93398c1.0309-1.15101,2.45214-1.74152,3.8934-1.74152'/%3e%3cpath class='st1' d='M14.55714,23.5316c-0.29234-0.49406-0.49641-1.02862-0.61064-1.57971'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

.liked{
    display: block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg style='enable-background:new 0 0 48 48;' version='1.1' viewBox='0 0 48 48' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg id='Icons'%3e%3cg%3e%3cpath d='M35.72937,25.74658l0.83566-0.82704c1.61101-1.61101,2.41221-3.74754,2.41221-5.86684 c0-2.12791-0.8012-4.25583-2.41221-5.86684c-3.22202-3.22202-8.50304-3.22202-11.73368,0l-0.82704,0.83566l-0.83566-0.83566 c-3.22202-3.22202-8.50304-3.22202-11.72506,0c-1.61963,1.61101-2.42082,3.73892-2.42082,5.86684 c0,2.1193,0.8012,4.25583,2.42082,5.86684l0.82704,0.82704l11.30768,11.30769c0.23524,0.23524,0.61667,0.23517,0.85183-0.00016 L35.72937,25.74658' style='fill:%23EF4B53;'/%3e%3cpath d=' M35.72937,25.74658l0.83566-0.82704c1.61101-1.61101,2.41221-3.74754,2.41221-5.86684c0-2.12791-0.8012-4.25583-2.41221-5.86684 c-3.22202-3.22202-8.50304-3.22202-11.73368,0l-0.82704,0.83566l-0.83566-0.83566c-3.22202-3.22202-8.50304-3.22202-11.72506,0 c-1.61963,1.61101-2.42082,3.73892-2.42082,5.86684c0,2.1193,0.8012,4.25583,2.42082,5.86684l0.82704,0.82704l11.30768,11.30769 c0.23524,0.23524,0.61667,0.23517,0.85183-0.00016L35.72937,25.74658' style='fill:none;stroke:%23303030;stroke-width:0.7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;'/%3e%3cpath d=' M11.45598,19.85644c0,0.43682,0.04064,0.8745,0.12213,1.30629' style='fill:none;stroke:%23303030;stroke-width:0.7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;'/%3e%3cpath d=' M17.06505,13.0453c-1.3151,0.25299-2.56957,0.88547-3.58154,1.89743c-0.74809,0.74411-1.2877,1.61988-1.62126,2.55471' style='fill:none;stroke:%23303030;stroke-width:0.7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");}

li {
    list-style-type: none;
}

.back{
    background:  url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80 ")no-repeat center fixed;
    background-size: cover;

}

.album{
    background-color: rgba(255, 255, 255, 0.9);
}

.btn span.glyphicon {
    opacity: 0;
}
.btn.active span.glyphicon {
    opacity: 1;
}

.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
    content: "";
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
}

.chiller_cb {
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
}
.chiller_cb input {
    display: none;
}
.chiller_cb input:checked ~ span {
    background: #0072ff;
    border-color: #0072ff;
}
.chiller_cb input:checked ~ span:before {
    width: 1rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
    width: 0.4rem;
    height: 0.15rem;
    transition: width 0.1s;
    transition-delay: 0.2s;
}
.chiller_cb input:disabled ~ span {
    background: #ececec;
    border-color: #dcdcdc;
}
.chiller_cb input:disabled ~ label {
    color: #dcdcdc;
}
.chiller_cb input:disabled ~ label:hover {
    cursor: default;
}
.chiller_cb label {
    padding-left: 2rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom:0;
}
.chiller_cb span {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
}
.chiller_cb span:before {
    transform: rotate(-55deg);
    top: 1rem;
    left: 0.37rem;
}
.chiller_cb span:after {
    transform: rotate(35deg);
    bottom: 0.35rem;
    left: 0.2rem;
}

.my-tab{
    background-color: rgba(242, 242, 242, 0.93);
}